@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

@import 'variables';
@import 'breakpoints';
@import 'reset';
@import 'custom-wave-shapes';
@import 'footer';

html {
    overflow-x: hidden;
}

body {
  font-family: "Open Sans", "sans-serif";
  font-size: 1rem;
}

.main {
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline:2rem;
}

.flex {
  display: flex;
}

p {
  max-width: 55ch;
  margin-top: 1.5rem;
  font-size: clamp(1rem,5vw,1.1rem);
  line-height: 1.5;
  color: $veryDarkCyan;
}

h1 {
  font-size: clamp(1.7rem,5vw,2.1rem);
}

h2 {
  font-size: clamp(1.2rem,5vw,2rem);
}

h1, h2 {
  font-family: "Poppins", "sans-serif";
  font-weight: 700;
  line-height: 1.5;
  color:$veryDarkCyan;
}

// Header
.header {
  width: 100%;
  padding-top: 2rem;
  justify-content:space-between;
  align-items: center;
}

.header .main_logo {
  width: 120px;
}

@media (min-width: 480px) {
  .header .main_logo {
    width: 160px;
  }
}

.header .try-it-free_btn {
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  border: 1px solid $pink;
  border-radius: 50px;
  color: #ff52bf;
  width: 120px;
  font-weight: 600;
  cursor:pointer;
}

// Hero Section
.hero {
  flex-direction: column;
  align-items: center;
  text-align: center;

  .screen_illustration {
    width: 90%;
    max-width: 500px;
    margin-top: 8rem;

    @include lg {
      max-width: 700px;
      margin-top: 5rem;
    }
  }

  .hero_text {
    margin-bottom: 3.5rem;
  }
}

.get-started-free_btn {
  width: 80%;
  max-width: 270px;
  padding-block: 1rem;
  font-size: 1rem;
  font-weight: 600;
  background: #ff52bf;
  color: #f5faff;
  border-radius: 50px;
  cursor:pointer;
}

// Stats
.stats {
  flex-direction: column;
  gap: 5rem;

  span {
    display: block;
    font-size: 4rem;
    font-weight: bold;
  }

  p {
    margin-top: 1rem;
  }

  @include md {
    flex-direction: row;
    justify-content: space-around;
    gap:0;
    width: 100%;
    max-width: 70%;
  }
}

.fluid-container {
  width: 100vw;
  position: relative;
  justify-content: center;
  background:$veryPaleBlue;
}

// Two column section layout
.section_layout {
  flex-direction: column;
  align-items: center;
  gap:5rem;
  padding-inline:1.5rem;
  text-align: center;
  max-width: 1440px;
  
  img {
      width:100%;
      max-width: 400px;
  }

  .section_text {
    flex-direction: column;
    align-items: center;
    
  }


  @include lg {
    flex-direction: row-reverse;
    gap:5rem;
    padding-inline:2rem;

    .section_text {
      align-items: flex-start;
      text-align: left;
    }
  }

  @include xl {
    img {
      max-width: 500px;
    }
  }
}

.grow_together,.your_users {
    padding-block: 8rem;
}

// Ready to build section
.ready_to_build {
  flex-direction: column;
align-items: center;
text-align: center;
gap:3.5rem;
}

